.box {
  background-image: url('../../public/imgs/login.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
}
.loginform{
  width: 400px;
  box-shadow: 0 0 1px rgb(36, 36, 36);
  height: 400px;
  margin-left: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
