.box {
  background-image: url('../../public/imgs/login.jpg');
  width: 100vw;
  height: calc(100vh - 100px);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
}
.loginform{
  width: 500px;
  height: 90vh;
  border-radius: 10px 200px 10px  200px ;
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
